{% extends 'base.html.twig' %}

{% block title %}modification du mot de passe{% endblock %}

{% block body %}
<div class="container">
<h1 class= "mt-4">modification de votre profil utilisateur</h1>
<div class="mt-4">
{% for message in app.flashes('warning') %}
<div class="alert alert-warning mt-4">
{{message}}
</div>
{% endfor %}
{{form(form)}}
</div>
</div>

{% endblock %}